<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="format_sql">true</property>


        <!-- Postgres database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">leo</property>
        <property name="connection.password">leo</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>


        <!-- configuration pool via c3p0-->
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>


        <!--Mapping-->
        <mapping class="server.dbService.entities.RequestEntity"/>
        <mapping class="server.dbService.entities.RequestStateEntity"/>
        <mapping class="server.dbService.entities.TaskStateEntity"/>
        <mapping class="server.dbService.entities.ProjectEntity"/>
        <mapping class="server.dbService.entities.UserEntity"/>
        <mapping class="server.dbService.entities.PositionEntity"/>
        <mapping class="server.dbService.entities.ProjectPositionEntity"/>
        <mapping class="server.dbService.entities.PriorityEntity"/>
        <mapping class="server.dbService.entities.TaskEntity"/>
        <mapping class="server.dbService.entities.UserRoleEntity"/>
        <mapping class="server.dbService.entities.RoleEntity"/>
        <mapping class="server.dbService.entities.TaskEntity"/>
        <mapping class="server.dbService.entities.RequestStateTransitionEntity"/>
        <mapping class="server.dbService.entities.TaskStateTransitionEntity"/>
    </session-factory>
</hibernate-configuration>
